/*----------------------------------------*/
/* Colors */
/*----------------------------------------*/

/* Colors - Primary */
.color-primary-01 {
  color: var(--color-primary-01);
}

.color-primary-02 {
  color: var(--color-primary-02);
}

.color-primary-03 {
  color: var(--color-primary-03);
}

.color-primary-04 {
  color: var(--color-primary-04);
}

/* Colors - Secundary */
.color-secundary-01 {
  color: var(--color-secundary-01);
}

/* Colors - Neutral */
.color-neutral-10 {
  color: var(--color-neutral-10);
}

.color-neutral-30 {
  color: var(--color-neutral-30);
}

.color-neutral-100 {
  color: var(--color-neutral-100);
}


/*----------------------------------------*/
/* Buttons */
/*----------------------------------------*/

/* Basic Button */
.btn {
  margin: 18px;
  padding: 14px 28px;
  max-width: max-content;
  border-radius: 50px;
  box-shadow: var(--box-shadow-20);

  text-align: center;
  font-family: var(--font-family-spline);
  font-size: var(--font-size-14px);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-hight-subtitle);
  letter-spacing: 0.8px;
}

/* Primary Button */
.btn.btn-primary {
  background-color: var(--color-primary-01);
  color: var(--color-neutral-100);
}

/* Secundary Button */
.btn.btn-secundary {
  background-color: var(--color-neutral-100);
  color: var(--color-secundary-01);
  border: 1px solid var(--color-secundary-01);
}

/* Background Icon Button */
.btn-background-icon {
  background-color: var(--color-neutral-100);
  padding: 20px;
  margin: 6px;
  border-radius: 50%;
}

/* Icon Button */
.btn-icon {
  background-color: var(--color-neutral-100);
  color: var(--color-secundary-01);
  display: inline-block;
  border: 1px solid var(--color-secundary-01);
  border-radius: 100%;
  margin: 8px;
  padding: 2px;
  width: 44px;
  height: 44px;
}

.btn-icon.neutral {
  color: var(--color-neutral-30);
  background-color: transparent;
}

.btn-icon-text-transparent {
  background-color: transparent;
  color: var(--color-neutral-30);
  padding: 12px;
  margin: 12px 8px;
  border-radius: 50px;
  box-shadow: none;
  max-width: max-content;
  align-self: flex-start;

  text-align: left;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-14px);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-hight-subtitle);
  letter-spacing: 0.8px;
}

.btn-icon-text-transparent i {
  margin-right: 4px;
}


/*----------------------------------------*/
/* Cards */
/*----------------------------------------*/

/* Image Card */
.card {
  background-image: none;
  background-color: var(--color-opacity-dark-75);
  border-radius: 6px;
  box-shadow: var(--box-shadow-20);

  margin: 18px 24px 18px 24px;
  padding: 24px;
  width: 292px;
  height: 182px;

  display: flex;
  flex-direction: column;

  color: var(--color-neutral-100);
  text-shadow: none;
}

.icon-card {
  transform: rotate(45deg);
  align-self: flex-end;
  margin-top: 12px;
}

.title-card {
  align-self: flex-start;
  margin-top: auto;
  margin-bottom: 2px;

  font-family: var(--font-family-poppins);
  font-size: var(--font-size-18px);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-text-02);
  color: var(--color-neutral-100);

  /* text truncate */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 288px;
}

.subtitle-card {
  margin-top: 4px;
  margin-bottom: 2px;

  font-family: var(--font-family-poppins);
  font-size: var(--font-size-14px);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-text-02);
  color: var(--color-neutral-100);

  /* text truncate */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 288px;
}


/*----------------------------------------*/
/* Titles and Texts */
/*----------------------------------------*/

/* Text Logo */
.text-logo {
  font-family: var(--font-family-spline);
  font-size: var(--font-size-18px);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-title);
  color: var(--color-primary-01);
}


/*----------------------------------------*/
/* Introduction Title */
.introduction-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 24px 0 24px;
}


.introduction-title-01 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-24px);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-title);
  color: var(--color-neutral-30);
  margin: 0;

}

.introduction-title-02 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-24px);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-title);
  color: var(--color-primary-01);
  margin: 0;

}

.introduction-title-03 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-24px);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-title);
  color: var(--color-primary-01);
  margin: 0;
}


/*----------------------------------------*/
/* Introduction Subtitle */
.introduction-subtitle-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 12px 42px 20px 42px;
}

.introduction-subtitle-01 {
  font-family: var(--font-family-spline);
  font-size: var(--font-size-16px);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-subtitle);
  color: var(--color-neutral-30);
}


/*----------------------------------------*/
/* Section Title */
.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 16px 24px 12px 24px;
}

.icon-section-title {
  padding: 2px;
  margin: 2px;
  color: var(--color-primary-01);
}

.text-section-title {
  padding: 2px;
  margin: 4px;
  font-family: var(--font-family-spline);
  font-size: var(--font-size-20px);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-title);
  color: var(--color-primary-01);
}


/*----------------------------------------*/
/* Section Subtitle */
.section-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 14px 24px 14px 24px;
}

.section-subtitle img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
  margin-bottom: 20px;
}

.text-section-subtitle {
  margin: 2px;
  font-family: var(--font-family-spline);
  font-size: var(--font-size-18px);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-title);
  color: var(--color-secundary-01);
}


/*----------------------------------------*/
/* Text Box Left */
.text-box-left {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 24px 0 24px;
}

/*----------------------------------------*/
/* Text Box Center */

.text-box-center {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 24px 0 24px;
}


/*----------------------------------------*/
/* Text Spline */
.text-spline-01 {
  font-family: var(--font-family-spline);
  font-size: var(--font-size-16px);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-text-01);
  margin-bottom: var(--size-14px);
  color: var(--color-neutral-30);
}


/*----------------------------------------*/
/* Text Poppins */
.text-poppins-01 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-16px);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-text-01);
  margin-bottom: var(--size-14px);
  color: var(--color-neutral-30);
}

.text-poppins-02 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-16px);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-text-02);
  margin-bottom: var(--size-14px);
  color: var(--color-neutral-30);
}


/*----------------------------------------*/
/* FOOTER */
/*----------------------------------------*/
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 24px;

  background-color: var(--color-primary-04);
}

.menu-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 16px 8px;
}

.link-menu-inline {
  margin: 0 8px;
  padding: 6px 12px;
  font-family: var(--font-family-spline);
  font-size: var(--font-size-14px);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-text-02);
  color: var(--color-neutral-30);
  text-decoration: var(--underline);
}

.created-by {
  padding: 12px;
  font-family: var(--font-family-spline);
  font-size: var(--font-size-14px);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-text-02);
  color: var(--color-neutral-30);
}


/*----------------------------------------*/
/* IMAGES */
/*----------------------------------------*/
.mockup-project {
  margin-top: 20px;
  margin-bottom: 20px;
}

.avatar {
  display: flex;
  justify-content: center;
}

#avatar-150x150{
  margin-top: 2px;
  margin-bottom: 26px;
}

#avatar-200x200 {
  margin-top: 14px;
  margin-bottom: 24px;
}


/*----------------------------------------*/
/* Other Elements */
/*----------------------------------------*/

/* Divisor Content*/
.divisor {
  border-top: 1px solid var(--color-neutral-90);
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*----------------------------------------*/

/* Space Between Section */
.space-between-section-12px {
  margin: 12px;
}