/* Colors */

/* Colors - Primary */
.color-primary-01 {
  color: var(--color-primary-01);
}

.color-primary-02 {
  color: var(--color-primary-02);
}

.color-primary-03 {
  color: var(--color-primary-03);
}

.color-primary-04 {
  color: var(--color-primary-04);
}

/* Colors - Secundary */
.color-secundary-01 {
  color: var(--color-secundary-01);
}

/* Colors - Neutral */
.color-neutral-30 {
  color: var(--color-neutral-30);
}

.color-neutral-100 {
  color: var(--color-neutral-100);
}


/*----------------------------------------*/


/* Buttons */
.btn {
  padding: 12px 36px;
  border-radius: 20px;

  text-align: center;
  font-size: var(--font-size-14px);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-hight-text);
  letter-spacing: 0.8px;
}

.btn.btn-primary {
  background-color: var(--color-primary-01);
  color: var(--color-neutral-100);
}

.btn.btn-secundary {
  background-color: var(--color-neutral-100);
  color: var(--color-secundary-01);
  border: 1px solid var(--color-secundary-01);
}

.btn-background-icon {
  background-color: var(--color-neutral-100);
  padding: 24px;
  margin: 8px;
  border-radius: 50%;
}

.btn-icon {
  background-color: var(--color-neutral-100);
  color: var(--color-secundary-01);
  border: 1px solid var(--color-secundary-01); 
  border-radius: 100%;
  margin: 8px;
  padding: 14px;
}


/*----------------------------------------*/

/* Elements */

/* Divisor Content*/
.divisor-content {
  border-top: 1px solid var(--color-neutral-90);
  width: 346px;
  margin: 0 22px 0 22px;
}


/* Subtitle with text decoration */
decoreted-subtitle {

}