/* Colors */

/* Colors - Primary */
.color-primary-01 {
  color: var(--color-primary-01);
}

.color-primary-02 {
  color: var(--color-primary-02);
}

.color-primary-03 {
  color: var(--color-primary-03);
}

.color-primary-04 {
  color: var(--color-primary-04);
}

/* Colors - Secundary */
.color-secundary-01 {
  color: var(--color-secundary-01);
}

/* Colors - Neutral */
.color-neutral-10 {
  color: var(--color-neutral-10);
}
.color-neutral-30 {
  color: var(--color-neutral-30);
}

.color-neutral-100 {
  color: var(--color-neutral-100);
}


/*----------------------------------------*/
/* Buttons */
/*----------------------------------------*/

/* Basic Button */
.btn {
  margin: 18px;
  padding: 14px 28px;
  max-width: max-content;
  border-radius: 50px;
  box-shadow: var(--box-shadow-20);

  text-align: center;
  font-family: var(--font-family-spline);
  font-size: var(--font-size-14px);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-hight-subtitle);
  letter-spacing: 0.8px;
}

/* Primary Button */
.btn.btn-primary {
  background-color: var(--color-primary-01);
  color: var(--color-neutral-100);
}

/* Secundary Button */
.btn.btn-secundary {
  background-color: var(--color-neutral-100);
  color: var(--color-secundary-01);
  border: 1px solid var(--color-secundary-01);
}

/* Background Icon Button */
.btn-background-icon {
  background-color: var(--color-neutral-100);
  padding: 20px;
  margin: 6px;
  border-radius: 50%;
}

/* Icon Button */
.btn-icon {
  background-color: var(--color-neutral-100);
  color: var(--color-secundary-01);
  display: inline-block;
  border: 1px solid var(--color-secundary-01); 
  border-radius: 100%;
  margin: 8px;  
  padding: 2px;
  width: 44px;
  height: 44px;
}

.btn-icon.neutral {
  color: var(--color-neutral-30);
  background-color: transparent;
}

.btn-icon-text-transparent {
  background-color: transparent;
  color: var(--color-neutral-30);
  padding: 12px;
  margin: 12px 8px;
  border-radius: 50px;
  box-shadow: none;
  max-width: max-content;

  text-align: left;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-14px);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-hight-subtitle);
  letter-spacing: 0.8px;
}

.btn-icon-text-transparent i {
  margin-right: 4px;
}


/*----------------------------------------*/
/* Cards */
/*----------------------------------------*/

/* Image Card */
.card { 
  background-image: none;
  background-color: var(--color-opacity-dark-75);
  border-radius: 6px;
  box-shadow: var(--box-shadow-20);


  margin: 14px 24px 20px 24px;
  padding: 24px;
  width: 292px;
  height: 182px;

  display: flex;
  flex-direction: column;

  color: var(--color-neutral-100);
  text-shadow: none;
}

.icon-card {
  transform: rotate(45deg);
  align-self: flex-end;
  margin-top: 12px;
  
}

.title-card {
  /* margin-top: 112px;*/
  align-self: flex-start;
  margin-top: auto;
}

.subtitle-card {
  margin-top: 4px;
}


/*----------------------------------------*/
/* Title and Text Sections */
/*----------------------------------------*/

/* Section Title */
.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 18px;
}

.section-title i {
  padding: 2px;
  margin: 2px;
}

.section-title h1 {
  padding: 2px;
  margin: 4px;
}

/*----------------------------------------*/

/* Text Box */ 
.text-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 24px 0 24px;
}


/*----------------------------------------*/
/* Other Elements */
/*----------------------------------------*/

/* Divisor Content*/
.divisor {
  border-top: 1px solid var(--color-neutral-90);
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*----------------------------------------*/

/* Space Between Section */
.space-between-section-12px {
  margin: 12px;
}
