:root {


  /* Size */

  /* -- Size px to rem (1 rem = 16 px) */
  --size-10px: 0.625rem;
  --size-12px: 0.75rem; 
  --size-14px: 0.875rem;
  --size-16px: 1rem;
  --size-18px: 1.125rem;
  --size-24px: 1.5rem;
  --size-26px: 1.625rem;
  --size-32px: 2rem;
  --size-34px: 2.125rem;
  --size-36px: 2.25rem;
  --size-40px: 2.5rem;
  --size-42px: 2.625rem;
  --size-48px: 3rem;
  

  /*----------------------------------------*/


  /* Typography */ 
  
  /* -- Font Size px to rem (1 rem = 16 px) */
  --font-size-10px: 0.625rem;
  --font-size-12px: 0.75rem; 
  --font-size-14px: 0.875rem;
  --font-size-16px: 1rem;
  --font-size-18px: 1.125rem;
  --font-size-24px: 1.5rem;
  --font-size-26px: 1.625rem;
  --font-size-32px: 2rem;
  --font-size-34px: 2.125rem;
  --font-size-36px: 2.25rem;
  --font-size-40px: 2.5rem;
  --font-size-42px: 2.625rem;
  --font-size-48px: 3rem;

  /* Font Weight */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 900;

  /* Line Height */
  --line-height-title: var(--size-36px);
  --line-height-subtitle: var(--size-26px);
  --line-height-text: var(--size-24px);


  /*----------------------------------------*/
  
  
  /* Colors */

  /* -- Colors Primary */
  --color-primary-01: #0C2B4E;
  --color-primary-02: #1A3D64;
  --color-primary-03: #1D546C;
  --color-primary-04: #F4F4F4;

  /* -- Colors Secundary */
  --color-secundary-01:#4D5D28;

  /* Colors - Neutral */
  --color-neutral-30:#464649;
  --color-neutral-90: #E1E2E6;
  --color-neutral-100:#FFFFFF;

  /* Dark Color Opacity */
  --color-opacity-dark-05: #4646490D;
  --color-opacity-dark-10: #4646491A;
  --color-opacity-dark-15: #46464926;
  --color-opacity-dark-20: #46464933;
  --color-opacity-dark-25: #46464940;
  --color-opacity-dark-30: #4646494D;
  --color-opacity-dark-35: #46464959;
  --color-opacity-dark-45: #46464973;
  --color-opacity-dark-50: #46464980;
  --color-opacity-dark-60: #46464999;
  --color-opacity-dark-70: #464649B3;
  --color-opacity-dark-75: #464649BF;
  --color-opacity-dark-80: #464649CC;


  /*----------------------------------------*/

  
  /* Elements Characteristics */

  /* Box Shadow */ 
  --box-shadow-05: 0px 2px 4px 0 var(--color-opacity-dark-05);
  --box-shadow-10: 0px 2px 4px 0 var(--color-opacity-dark-10);
  --box-shadow-15: 0px 2px 4px 0 var(--color-opacity-dark-15);
  --box-shadow-20: 0px 2px 4px 0 var(--color-opacity-dark-20);
  --box-shadow-25: 0px 2px 4px 0 var(--color-opacity-dark-25);
  --box-shadow-30: 0px 2px 4px 0 var(--color-opacity-dark-30);
  --box-shadow-35: 0px 2px 4px 0 var(--color-opacity-dark-35);
  --box-shadow-45: 0px 2px 4px 0 var(--color-opacity-dark-45); 
  --box-shadow-50: 0px 2px 4px 0 var(--color-opacity-dark-50);
  --box-shadow-60: 0px 2px 4px 0 var(--color-opacity-dark-60);
  --box-shadow-70: 0px 2px 4px 0 var(--color-opacity-dark-70);
  --box-shadow-75: 0px 2px 4px 0 var(--color-opacity-dark-75);
  --box-shadow-80: 0px 2px 4px 0 var(--color-opacity-dark-80);
  


}