/* FLEX BOX */


/* HEADER */

/* container-header */
.container-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.nav-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  background-color: #FFFFFF;
}

.container-header .nav-mobile h1 {
  text-align: left;
  margin: 12px;
  padding: 12px 32px;
  width: 207px;
}

.nav-mobile button {
  align-items: center;
}


/*----------------------------------------*/

/* BODY */
body 



/*----------------------------------------*/


/* MAIN */ 

/* container-main */
.container-main {
  display: flex;
  flex-direction: column;
  width: 100%;


  background-color: #FFFFFF;
}


/* Section Introduction */
.container-main section img {
  justify-content: center;
  margin: 26px 120px 12px 120px;
}

.container-introduction-text {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.container-introduction-text h1 {
  margin: 12px 32px 6px 32px;
}

.container-introduction-text h2 {
  margin: 6px 42px 10px 42px;
}

.container-localization {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 6px 24px;

  background-color: #FFFFFF;
}

.container-localization i {
  margin: 4px 0 4px 72px;
}

.container-localization h3 {
  margin: 4px 72px 4px 8px;
}

.container-social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  
  padding: 12px;
  margin: 10px;
}


/* Section Projects */
.container-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-projects i {
  padding: 2px;
  margin: 20px 12px 6px 12px;
}









/*----------------------------------------*/


/* FOOTER */ 

/* container-footer */