/* FLEX BOX - ABOUT */

/*----------------------------------------*/
/* BODY */
/*----------------------------------------*/

body {
  display: flex;
  flex-direction: column;
}


/*----------------------------------------*/
/* HEADER */
/*----------------------------------------*/

/* Document - flex-elements-index.css */


/*----------------------------------------*/
/* MAIN */ 
/*----------------------------------------*/

/* container-main */
/* Document - flex-elements-index.css */

/*----------------------------------------*/

/* Section Introduction */
.container-introduction-projects .mockup-project {
  justify-content: center;
  margin: 26px 0 26px 0; 
}

/* Section Project Details */
