/* FLEX BOX - INDEX */

/*----------------------------------------*/
/* BODY */
/*----------------------------------------*/

body {
  display: flex;
  flex-direction: column;
}


/*----------------------------------------*/
/* HEADER */
/*----------------------------------------*/

/* container-header */
.container-header {
  display: flex;
  flex-direction: column;
  width: 72px;
  margin: 0;
}

.nav-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  background-color: var(--color-neutral-100);

  position: fixed;
  width: 100%;
}

.container-header .nav-mobile h1 {
  text-align: left;
  margin: 2px;
  padding: 10px 32px;
  width: 207px;
}

.nav-mobile button {
  align-items: center;
}


/*----------------------------------------*/
/* MAIN */ 
/*----------------------------------------*/

/* container-main */
.container-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 71px;
}

/*----------------------------------------*/

/* Section Introduction */
.container-main section img {
  justify-content: center;
  margin: 26px 0 26px 0; 
}

.container-introduction-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.container-introduction-text h1 .h1-hi {
  margin: 0;
}

.container-introduction-text h2 {
  margin: 12px 42px 10px 42px;
}

.container-localization {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 6px 24px;
}

.container-localization i {
  margin: 4px 0 4px 72px;
}

.container-localization h3 {
  margin: 4px 72px 4px 8px;
}

.container-social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  margin: 12px;
}

/*----------------------------------------*/

/* Section Projects */
.container-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
}

/*----------------------------------------*/

/* Section Contact */
.container-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin: 24px;
}

.container-contact h3 {
  /*padding: 0 20px;*/
  align-self: center;
}

.container-contact button {
  align-self: center;
}


/*----------------------------------------*/
/* FOOTER */ 
/*----------------------------------------*/

/* container-footer */
.container-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 24px;

  background-color: var(--color-primary-04);
}  

.menu-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 16px 8px;
}

.menu-inline li a {
  margin: 0 8px;
  padding: 6px 12px;
} 

.container-footer h3 {
  margin: 6px;
}