/* IMPORTS */ 
/* Google Font */ @import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');
/* Typography */ @import "/css/typography.css";
/* Buttons */
/* Icons */


/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0; 
  font-family: "Spline Sans Mono", monospace;
  vertical-align: 0;
  text-decoration: none;
}


/* Body */
.container {
  width: 390px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}


/* Icons Ion Icons */
ion-icon {

}


/* Button */




/* Label */



