/* IMPORTS */ 
/* Google Font */ @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');
/* Design Tokens */ @import url(/css/design-tokens.css);
/* Typography */ @import url(/css/typography.css);
/* Components */ @import url(/css/components.css);
/* Display - Index */ @import url(/css/flex-elements-index.css);
/* Display - Projects */ @import url(/css/flex-elements-projects.css);
/* Responsive */ @import url(/css/media-queries.css);


/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: 0;

  font-size: 16px; /* 16px HTML definition - 16px = 1rem*/
  font-family: "Spline Sans Mono", monospace; 
  font-weight: 400;
  text-decoration: none; 
  font-style: normal;
  list-style: none;

}


/*----------------------------------------*/
/* Styling Specific Items */ 
/*----------------------------------------*/

/* Body */
body {
  background-image: 
    url("/assets/images/background-image-left.png"), 
    url("/assets/images/background-image-right.png");
  background-position: -200px 106px, 184px 16px;
  background-repeat: no-repeat;
}

/*----------------------------------------*/

/* Link e Items */
a {
  text-decoration: none;
  color: none;
}

/*----------------------------------------*/

/* Divisor Content */ 
.divisor.divisor-header {
  position: fixed;
}
.divisor.divisor-projects {
  margin-top: 20px;
}

/*----------------------------------------*/

/* Cards */
.card.card-portfolio { 
  background-image: url(#);
}

.card.card-advice { 
  background-image: url(/assets/images/advice-card-image.png);
}

.card.card-perguntorl { 
  background-image: url(/assets/images/perguntorl-card-image.png);
}

.card.card-wellify { 
  background-image: url(/assets/images/wellify-card-image.png);
}

.card.card-cropfix { 
  background-image: url(/assets/images/cropfix-card-image.png);
}

.card.card-selbetti { 
  background-image: url(/assets/images/selbetti-card-image.png);
}

.card.card-fluere { 
  background-image: url(/assets/images/fluere-card-image.png);
}

/*----------------------------------------*/

/* xxxxx */





