/* 
TYPOGRAPHY 

ex.: type-size weight = .h1-extralarge bold 
*/


/*----------------------------------------*/


/* Basic Font */

h1 {
  font-size: var(--size-32px);
  line-height: var(--line-height-title);
}

h2 {
  font-size: 1.625rem;
  line-height: var(--line-height-subtitle);
}

h3 {
  font-size: var(--size-18px);
}

p {
  font-family: "Poppins", sans-serif;
  font-size: var(--size-18px);
}


/*----------------------------------------*/


/* Font Size Variants */ 

/* h1 Size Variants */ 
.h1-extralarge {
  font-size: var(--size-48px);
}

.h1-large {
  font-size: var(--size-42px);
}

.h1-medium {
  font-size: var(--size-24px);
}

.h1-small {
  font-size: var(--size-20px);
}

.h1-extrasmall {
  font-size: var(--size-18px);
}


/* h2 Size Variants */ 
.h2-extralarge {
  font-size: var(--size-24px);
}

.h2-large {
  font-size: var(--size-20px);
}

.h2-medium {
  font-size: var(--size-16px);
}

.h2-small {
  font-size: var(--size-14px);
}


/* h3 and paragraph Size Variants */
.h3-paragraph-extralarge {
  font-size: var(--size-16px);
}

.h3-paragraph-large {
  font-size: var(--size-14px);
}

.h3-paragraph-medium {
  font-size: var(--size-12px);
}

.h3-paragraph-small {
  font-size: var(--size-10px);
}


/*----------------------------------------*/


/* Font Weight Variants */
.thin {
    font-weight: var(--font-weight-thin);
}

.extralight {
  font-weight: var(--font-weight-extralight);
}

.light {
  font-weight: var(--font-weight-light);
}

.regular {
  font-weight: var(--font-weight-regular);
}

.medium {
  font-weight: var(--font-weight-medium);
}

.semibold {
  font-weight: var(--font-weight-semibold);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.extrabold {
  font-weight: var(--font-weight-extrabold);
}


/*----------------------------------------*/