/* TYPOGRAPHY */

/* How to use? */
/*  
  <tag class="family size weight">
  ex.: <h1 class="poppins size-20px bold">
*/


/*----------------------------------------*/
/* Basic Font */
/*----------------------------------------*/

h1 {
  font-family: var(--font-family-spline); 
  font-size: var(--font-size-32px); 
  line-height: var(--line-height-title);
}

h2 {
  font-family: var(--font-family-spline); 
  font-size: var(--font-size-26px);
  line-height: var(--line-height-subtitle);
}

h3 {
  font-family: var(--font-family-spline); 
  font-size: var(--font-size-18px);
  line-height: var(--line-height-text);
}

p {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-18px);
  line-height: var(--line-height-text);
}


/*----------------------------------------*/
/* Font Family Variants */ 
/*----------------------------------------*/

/* Default */
.spline {
  font-family: var(--font-family-spline);
}

/* Variant */
.poppins {
  font-family: var(--font-family-poppins);
}


/*----------------------------------------*/
/* Font Size Variants */ 
/*----------------------------------------*/

.fs-10px {
  font-size: var(--font-size-10px);
}

.fs-12px {
  font-size: var(--font-size-12px);
}

.fs-14px {
  font-size: var(--font-size-14px);
}

.fs-16px {
  font-size: var(--font-size-16px);
}

.fs-18px {
  font-size: var(--font-size-18px);
}

.fs-20px {
  font-size: var(--font-size-20px);
}

.fs-24px {
  font-size: var(--font-size-24px);
}

.fs-42px {
  font-size: var(--font-size-42px);
}

.fs-48px {
  font-size: var(--font-size-48px);
}


/*----------------------------------------*/
/* Font Weight Variants */
/*----------------------------------------*/

.thin {
    font-weight: var(--font-weight-thin);
}

.extralight {
  font-weight: var(--font-weight-extralight);
}

.light {
  font-weight: var(--font-weight-light);
}

.regular {
  font-weight: var(--font-weight-regular);
}

.medium {
  font-weight: var(--font-weight-medium);
}

.semibold {
  font-weight: var(--font-weight-semibold);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.extrabold {
  font-weight: var(--font-weight-extrabold);
}




















/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/



/* 48px */
.h1-extralarge {
  font-size: var(--font-size-48px);
}

/*----------------------------------------*/

/* 42px */
.h1-large {
  font-size: var(--font-size-42px);
}

/*----------------------------------------*/

/* 24px */
.h1-medium {
  font-size: var(--font-size-24px);
}

.h1-medium-poppins {
  font-size: var(--font-size-24px);
  font-family: "Poppins", sans-serif;
}

.h2-extralarge {
  font-size: var(--font-size-24px);
}


/*----------------------------------------*/

/* 20px */
.h1-small {
  font-size: var(--font-size-20px);
}

.h2-large {
  font-size: var(--font-size-20px);
}

/*----------------------------------------*/

/* 18px */ 
.h1-extrasmall {
  font-size: var(--font-size-18px);
}

/*----------------------------------------*/

/* 16px */
.h2-medium {
  font-size: var(--font-size-16px);
}

.h3-paragraph-extralarge {
  font-size: var(--font-size-16px);
}



/*----------------------------------------*/

/* 14px */
.h2-small {
  font-size: var(--font-size-14px);
}

.h3-paragraph-large {
  font-size: var(--font-size-14px);
}

/*----------------------------------------*/

/* 12px */

.h3-paragraph-medium {
  font-size: var(--font-size-12px);
}

/*----------------------------------------*/

/* 10 px */

.h3-paragraph-small {
  font-size: var(--font-size-10px);
}

/*----------------------------------------*/











/*----------------------------------------*/

/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/



