/* 
TYPOGRAPHY 
$ type-size-weight: $ h1-extralarge-bold 
*/

h1 {
  line-height: 36px;
  letter-spacing: 2%;
  font-size: 2rem;
  /* 32px */
}

h2 {
  font-size: 1.625rem;
  /* 26px */
}

h3 {
  font-size: 1.125rem;
  /* 18px */
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  /* 18px */
}


/*----------------------------------------*/


/* H1 - SIZE VARIANTS */
.h1-extralarge {
  font-size: 3rem;
  /* 48px */
}

.h1-large {
  font-size: 2.625rem;
  /* 42px */
}

.h1-medium {
  font-size: 1.5rem;
  /* 24px */
}

.h1-small {
  font-size: 1.125rem;
  /* 18px */
}


/*----------------------------------------*/


/* H2 - SIZE VARIANTS */
.h2-extralarge {
  font-size: 1.5rem;
  /* 24px */
}

.h2-large {
  font-size: 1.25rem;
  /* 20px */
}

.h2-medium {
  font-size: 1rem;
  /* 16px */
}

.h2-small {
  font-size: 0.875rem;
  /* 14px */
}


/*----------------------------------------*/


/* H3 - SIZE VARIANTS */
.h3-extralarge {
  font-size: 1rem;
  /* 16px */
}

.h3-large {
  font-size: 0.875rem;
  /* 14px */
}

.h3-medium {
  font-size: 0.75rem;
  /* 12px */
}

.h3-small {
  font-size: 0.625rem;
  /* 10px */
}


/*----------------------------------------*/


/* P - SIZE VARIANTS */
.paragraph-extralarge {
  font-size: 1rem;
  /* 16px */
}

.paragraph-large {
  font-size: 0.875rem;
  /* 14px */
}

.paragraph-medium {
  font-size: 0.75rem;
  /* 12px */
}

.paragraph-small {
  font-size: 0.625rem;
  /* 10px */
}



/*----------------------------------------*/


/* FONT WEIGHT VARIANTS */
.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}


/*----------------------------------------*/











