/*----------------------------------------*/
/* Styling Specific Items */ 
/*----------------------------------------*/

/* Body */
body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-neutral-100);
}

/*----------------------------------------*/

/* Link e Items */
a {
  text-decoration: none;
  color: none;
}

/*----------------------------------------*/

/* xxxxxx */
