/*----------------------------------------*/
/* Styling Specific Items */ 
/*----------------------------------------*/

/* Body */
body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-neutral-100);
}

/*----------------------------------------*/

/* Background */
#index-body {
  background-image: 
    url("/assets/images/background-image-left.png"), 
    url("/assets/images/background-image-right.png");
  background-position: -200px 106px, 184px 16px;
  background-repeat: no-repeat;
}

#project-body {
  background-image: none;
}

#about-body {
  background-image: url("/assets/images/background-image-left.png");
  background-position: center 220px;
  background-repeat: no-repeat;
}

#contact-body {
  background-image: 
    url("/assets/images/background-image-left.png"), 
    url("/assets/images/background-image-right.png");
  background-position: -200px 106px, 184px 16px;
  background-repeat: no-repeat;
}

/*----------------------------------------*/

/* Link e Items */
a {
  text-decoration: none;
  color: none;
}

/*----------------------------------------*/

/* Divisor Content */ 
.divisor.divisor-header {
  position: fixed;
}
.divisor.divisor-projects {
  margin-top: 20px;
}

/*----------------------------------------*/

/* Cards */
.card.card-portfolio { 
  background-image: url(#);
}

.card.card-advice { 
  background-image: url(/assets/images/advice-card-image.png);
}

.card.card-perguntorl { 
  background-image: url(/assets/images/perguntorl-card-image.png);
}

.card.card-wellify { 
  background-image: url(/assets/images/wellify-card-image.png);
}

.card.card-cropfix { 
  background-image: url(/assets/images/cropfix-card-image.png);
}

.card.card-selbetti { 
  background-image: url(/assets/images/selbetti-card-image.png);
}

.card.card-fluere { 
  background-image: url(/assets/images/fluere-card-image.png);
}