/* FLEX BOX */


/*----------------------------------------*/
/* HEADER */
/*----------------------------------------*/

/* container-header */
.container-header {
  display: flex;
  flex-direction: column;
  width: 72px;
  margin: 0;
}

.nav-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  background-color: var(--color-neutral-100);

  position: fixed;
  width: 100%;
}

.container-header .nav-mobile .text-logo{
  text-align: left;
  margin: 2px;
  padding: 10px 32px;
  width: 207px;
}

.nav-mobile button {
  align-items: center;
}


/*----------------------------------------*/
/* BODY */ 
/*----------------------------------------*/

/* container-main */
.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 71px;
}

/*----------------------------------------*/

/* Section Introduction */

.container-localization {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 6px 24px;
}

.container-localization i {
  margin: 4px 0 4px 72px;
}

.container-localization h3 {
  margin: 4px 72px 4px 8px;
}

.container-social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  margin: 12px;
}

/*----------------------------------------*/

/* Section Contact */
.container-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin: 24px;
}

.container-contact h3 {
  /*padding: 0 20px;*/
  align-self: center;
}

.container-contact button {
  align-self: center;
}


