@media (max-width: 390px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
  }
}

@media (min-width: 540px) {
  #background-index {
    background: none;
    /*background-position: -200px 106px, 184px 16px;*/
    
  }
}

  @media (min-width: 768px) {
    .container {
      width: 100%;
      display: flex;
      flex-direction: row;
    }


  }