body.modal-open {
  position: fixed;
  width: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
  /* inset: 0;*/
  background-color: var(--color-opacity-dark-20);
  backdrop-filter: blur(8px);
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 999;
}

.modal-overlay.active {
  display: block;
}


.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close-modal i {
  color: var(--color-primary-01);
}

.modal-content {
  position: relative;
  z-index: 1000;
  top: 12px;
  right: 20px;
  overflow-y: auto;    /* Permite scroll vertical se necessário */
  overflow-x: hidden;  /* Esconde o scroll horizontal */
 
  animation: fadeIn 0.3s ease;

  width: 100%;
  max-width: 300px;
  height: max-content;
  max-height: 80%;
  
  padding: 64px 32px;
  margin: 32px;
  border-radius: 8px;

  background-color: var(--color-neutral-100);
  color: var(--color-neutral-30);
}



.image-illutration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}