.modal-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.modal-overlay.active {
    display: flex;
}


.modal-content {
  background: #fff;
  color: black;
  padding: 24px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  position: relative;
  animation: fadeIn 0.3s ease;
}

.close-modal {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}