@media (min-width: 390px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    /* alinhamento horizontal dos conteudos de cada celula */
  }
}

@media (min-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}

@media (min-width: 1172px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }

  /* VER COMO POSSO DEIXAR ISSO PRA FICAR BONITINHO 
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    /* alinhamento horizontal dos conteudos de cada celula */
  /* }*/
}

@media (min-width: 1700px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
  }
}
