#background-index {
  background-image:
    url("/assets/images/background-image-left.png"),
    url("/assets/images/background-image-right.png");
  background-position: -200px 106px, 184px 16px;
  background-repeat: no-repeat;
}

#background-project {
  background-image: none;
}

#background-about {
  background-image: url("/assets/images/background-image-left.png");
  background-position: center 220px;
  background-repeat: no-repeat;
}

#background-contact {
  background-image:
    url("/assets/images/background-image-left.png"),
    url("/assets/images/background-image-right.png");
  background-position: -200px 106px, 184px 16px;
  background-repeat: no-repeat;
}


@media (min-width: 540px) {
  #background-index {
    background-image: url("/assets/images/background-image-left.png");
    background-size: 600px;
    background-position: 100px 60px;
    background-repeat: no-repeat;
  }
}