/*----------------------------------------*/
/* Reset CSS */ 
/*----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: 0;

  font-size: 16px; /* 16px HTML definition - 16px = 1rem*/
  font-family: "Spline Sans Mono", monospace; 
  font-weight: 400;
  text-decoration: none; 
  font-style: normal;
  list-style: none;
}

b, 
strong {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}



