/* TYPOGRAPHY */

/* How to use? */
/*  
  <tag class="family size weight">
  ex.: <h1 class="poppins size-20px bold">
*/

/*----------------------------------------*/
/* Font Family Variants */ 
/*----------------------------------------*/

/* Default */
.spline {
  font-family: var(--font-family-spline);
}

/* Variant */
.poppins {
  font-family: var(--font-family-poppins);
}


/*----------------------------------------*/
/* Font Size Variants */ 
/*----------------------------------------*/

.fs-10px {
  font-size: var(--font-size-10px);
}

.fs-12px {
  font-size: var(--font-size-12px);
}

.fs-14px {
  font-size: var(--font-size-14px);
}

.fs-16px {
  font-size: var(--font-size-16px);
}

.fs-18px {
  font-size: var(--font-size-18px);
}

.fs-20px {
  font-size: var(--font-size-20px);
}

.fs-24px {
  font-size: var(--font-size-24px);
}

.fs-42px {
  font-size: var(--font-size-42px);
}

.fs-48px {
  font-size: var(--font-size-48px);
}


/*----------------------------------------*/
/* Font Weight Variants */
/*----------------------------------------*/

.thin {
    font-weight: var(--font-weight-thin);
}

.extralight {
  font-weight: var(--font-weight-extralight);
}

.light {
  font-weight: var(--font-weight-light);
}

.regular {
  font-weight: var(--font-weight-regular);
}

.medium {
  font-weight: var(--font-weight-medium);
}

.semibold {
  font-weight: var(--font-weight-semibold);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.extrabold {
  font-weight: var(--font-weight-extrabold);
}


/*----------------------------------------*/
/* Text Decoration and Style */
/*----------------------------------------*/

.underline {
  text-decoration: var(--underline);
}

.italic {
  font-style: var(--italic);
}


