/*----------------------------------------*/
/* BUTTON */
/*----------------------------------------*/

/*--------------------------------------------------------------------------------*/
/*----------------------------------------*/
/* BASE OF ALL 
/*----------------------------------------*/
.btn {
  margin: 18px;
  padding: 14px 28px;
  max-width: max-content;
  border-radius: 50px;
  box-shadow: var(--box-shadow-20);

  text-align: center;
  font-family: var(--font-family-spline);
  font-size: var(--font-size-14px);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-hight-subtitle);
  letter-spacing: 0.8px;

  background-color: transparent;
  transition: all 0.3s ease;
}



/*--------------------------------------------------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
/* REGULAR BUTTON */
/*----------------------------------------*/
/*----------------------------------------*/
/* 
✅ text 
✅ fill (primary or secundary)
❌ border 
*/

/*----------------------------------------*/
/* Primary (.btn.primary)
/*----------------------------------------*/
/* default */
.btn.primary {
  background-color: var(--color-primary-01);
  color: var(--color-neutral-100);
}

/* hover */
.btn.primary:hover {
  background-color: var(--color-secundary-01);
}

/*----------------------------------------*/
/* Secundary (.btn.secundary)
/*----------------------------------------*/
/* default */
.btn.secundary {
  background-color: var(--color-secundary-01);
  color: var(--color-neutral-100);
}

/* hover */
.btn.secundary:hover {
  background-color: var(--color-primary-01);
}



/*--------------------------------------------------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
/* BORDER BUTTON */
/*----------------------------------------*/
/*----------------------------------------*/
/* 
✅ text 
✅ border 
❌ fill
*/

/*----------------------------------------*/
/* Primary (.btn.border.primary)
/*----------------------------------------*/
/* default */
.btn.border.primary {
  background-color: transparent;
  border: 1px solid var(--color-primary-01);
  color: var(--color-primary-01);
}

/* hover */
.btn.border.primary:hover {
  background-color: var(--color-primary-01);
  border: 1px solid var(--color-primary-01);
  color: var(--color-neutral-100);
}

/*----------------------------------------*/
/* Secundary (.btn.border.secundary)
/*----------------------------------------*/
/* default */
.btn.border.secundary {
  background-color: transparent;
  border: 1px solid var(--color-secundary-01);
  color: var(--color-secundary-01);

  /* hover */
  &:hover {
    background-color: var(--color-secundary-01);
    border: 1px solid var(--color-secundary-01);
    color: var(--color-neutral-100);
  }
}





*--------------------------------------------------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
/* TEXT BUTTON */
/*----------------------------------------*/
/*----------------------------------------*/
/* 
✅ text 
✅/❌ decoration
✅/❌ icon
❌ border 
❌ fill
*/

/*----------------------------------------*/
/* Base Text Button (.btn-text)
/*----------------------------------------*/
/* default */
.btn-text {
  margin: 8px;
  padding: 14px 20px;
  max-width: max-content;
  border-radius: 50px;

  text-align: center;
  font-family: var(--font-family-spline);
  font-size: var(--font-size-14px);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-text-02);
  letter-spacing: 0.8px;
  text-decoration: var(--underline);

  background-color: transparent;
  color: var(--color-neutral-30);
  transition: all 0.3s ease;

  /* hover */
  /*
  &:hover {
    color: var(--color-neutral-10);
    box-shadow: var(--box-shadow-20);
  }*/
}

.btn-text:hover {
  color: var(--color-neutral-10);
  box-shadow: var(--box-shadow-20);
}


/*----------------------------------------*/
/* Icon Text Button (.btn-text.icon)
/*----------------------------------------*/
/* default */
.btn-text-icon {
  align-self: flex-start;
  padding: 12px;
  margin: 12px 8px;
  text-align: left;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-14px);
  line-height: var(--line-hight-subtitle);
  letter-spacing: 0.8px;

  & i {
    margin-right: 4px;
    pointer-events: none;
  }

  

}






/* text button icon ?????? este abaixo */


/* ICON BUTTON WITH TEXT */
/* Button with icon and text without background or border */
.btn-icon-text-transparent {
  background-color: transparent;
  color: var(--color-neutral-30);
  padding: 12px;
  margin: 12px 8px;
  border-radius: 50px;
  box-shadow: none;
  max-width: max-content;
  align-self: flex-start;

  text-align: left;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-14px);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-hight-subtitle);
  letter-spacing: 0.8px;

  & i {
    margin-right: 4px;
    pointer-events: none;

  }

}