/*----------------------------------------*/
/* BUTTON */
/*----------------------------------------*/

/*--------------------------------------------------------------------------------*/
/*----------------------------------------*/
/* BASE OF ALL 
/*----------------------------------------*/
.btn {
  margin: 18px;
  padding: 14px 28px;
  max-width: max-content;
  border-radius: 50px;
  box-shadow: var(--box-shadow-20);

  text-align: center;
  font-family: var(--font-family-spline);
  font-size: var(--font-size-14px);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-hight-subtitle);
  letter-spacing: 0.8px;

  background-color: transparent;
  transition: all 0.3s ease;
}



/*--------------------------------------------------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
/* REGULAR BUTTON */
/*----------------------------------------*/
/*----------------------------------------*/
/* 
✅ text 
✅ fill (primary or secundary)
❌ border 
*/

/*----------------------------------------*/
/* Primary (.btn.primary)
/*----------------------------------------*/
/* default */
.btn.primary {
  background-color: var(--color-primary-01);
  color: var(--color-neutral-100);
}

/* hover */
.btn.primary:hover {
  background-color: var(--color-secundary-01);
}

/* active */
.btn.primary:active {
  transform: none;
}

/* focus */ 
.btn.primary:focus {
  transform: none;
}

/*----------------------------------------*/
/* Secundary (.btn.secundary)
/*----------------------------------------*/
/* default */
.btn.secundary {
  background-color: var(--color-secundary-01);
  color: var(--color-neutral-100);
}

/* hover */
.btn.secundary:hover {
  background-color: var(--color-primary-01);
}

/* active */
.btn.secundary:active {
  transform: none;
}

/* focus */ 
.btn.secundary:focus {
  transform: none;
}




/*--------------------------------------------------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
/* BORDER BUTTON */
/*----------------------------------------*/
/*----------------------------------------*/
/* 
✅ text 
✅ border 
❌ fill
*/

/*----------------------------------------*/
/* Primary (.btn.border.primary)
/*----------------------------------------*/
/* default */
.btn.border.primary {
  font-weight: var(--font-weight-bold);
  background-color: transparent;
  border: 1px solid var(--color-primary-01);
  color: var(--color-primary-01);
}

/* hover */
.btn.border.primary:hover {
  background-color: var(--color-primary-01);
  border: 1px solid var(--color-primary-01);
  color: var(--color-neutral-100);
}

/* active */
.btn.border.primary:active {
  transform: none;
}

/* focus */ 
.btn.border.primary:focus {
  transform: none;
}

/*----------------------------------------*/
/* Secundary (.btn.border.secundary)
/*----------------------------------------*/
/* default */
.btn.border.secundary {
  font-weight: var(--font-weight-bold);
  background-color: transparent;
  border: 1px solid var(--color-secundary-01);
  color: var(--color-secundary-01);
}

/* hover */
.btn.border.secundary:hover {
  background-color: var(--color-secundary-01);
  border: 1px solid var(--color-secundary-01);
  color: var(--color-neutral-100);
}

/* active */
.btn.border.secundary:active {
  transform: none;
}

/* focus */ 
.btn.border.secundary:focus {
  transform: none;
}




/*--------------------------------------------------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
/* ICON TEXT BUTTON */
/*----------------------------------------*/
/*----------------------------------------*/
/* 
✅ text 
✅ decoration
✅ icon
❌ border 
❌ fill
*/

/*----------------------------------------*/
/* Icon Text Button (.btn-text-icon)
/*----------------------------------------*/
/* default */
.btn-text-icon {
  align-self: flex-start;
  padding: 12px;
  margin: 12px 8px;
  max-width: max-content;
  border-radius: 50px;

  text-align: left;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-14px);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-hight-subtitle);
  letter-spacing: 0.8px;
  text-decoration: var(--underline);

  background-color: transparent;
  color: var(--color-neutral-30);
  transition: all 0.3s ease;
}

.btn-text-icon i {
  margin-right: 8px;
  pointer-events: none;
}

/* hover */
.btn-text-icon:hover {
  color: var(--color-neutral-10);
  background-color: var(--color-opacity-dark-05);
  box-shadow: var(--box-shadow-20);
}

/* active */
.btn-text-icon::active {
  transform: none;
}

/* focus */ 
.btn-text-icon:focus {
  transform: none;
}