/*----------------------------------------*/
/* Cards */
/*----------------------------------------*/


/*----------------------------------------*/
/* Grid Container */
/*----------------------------------------*/
.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}


/*----------------------------------------*/
/* Image Card */
/*----------------------------------------*/

.card {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  box-shadow: var(--box-shadow-20);

  margin: 18px 24px 18px 24px;
  padding: 24px;
  width: 292px;
  height: 182px;

  font-family: var(--font-family-poppins);
  line-height: var(--line-height-text-02);
  color: var(--color-neutral-100);
  text-shadow: none;
}

.card:hover {
  box-shadow: var(--box-shadow-80);
}

/* tag to use inside the card */
.tag {
  border-radius: 6px;
  margin-bottom: 12px;
  padding: 6px 12px;
  max-width: max-content;
  align-self: flex-start;

  color: var(--color-primary-03);
  background-color: var(--color-primary-04);

  text-align: center;
  font-family: var(--font-family-spline);
  font-size: var(--font-size-14px);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-hight-subtitle);
  letter-spacing: 0.8px;
}

.tag-inprogress {
  color: var(--color-primary-04);
  background-color: var(--color-primary-03);
}

/* Icon to use inside the card */
.icon-card {
  pointer-events: none;
  transform: rotate(45deg);
  align-self: flex-end;
  margin-top: 12px;
}

/* Title to use inside the card */
.title-card {
  pointer-events: none;
  align-self: flex-start;
  margin-top: auto;
  margin-bottom: 2px;

  font-size: var(--font-size-18px);
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-family-poppins);
  color: var(--color-neutral-100);

  /* text truncate */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 288px;
}

/* Subtitle to use inside the card */
.subtitle-card {
  pointer-events: none;
  margin-top: 4px;
  margin-bottom: 2px;

  font-size: var(--font-size-14px);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-poppins);
  color: var(--color-neutral-100);

  /* text truncate */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 288px;
}




/*----------------------------------------*/
/* Quote Card */
/*----------------------------------------*/

/* Quote card base */ 
.quote-card {
  background-color: var(--color-neutral-100);
  border-radius: 28px;
  border: 1px solid var(--color-secundary-01);

  margin: 18px 24px 18px 24px;
  padding: 24px;
  width: 292px;
  height: max-content;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

/* Quote Card - Type 1 */
.quote-card-01 {
  border-color: var(--color-secundary-01);
  color: var(--color-secundary-01);

  & i {
    color: var(--color-secundary-01);
  }
}

/* Quote Card - Type 2 */
.quote-card-02 {
  border-color: var(--color-primary-02);
  color: var(--color-primary-02);

  & i {
    color: var(--color-primary-02);
  }
}

/* Icon to use inside quote card (type 1 and 2)*/
.icon-quote-card {
  margin-top: 18px;
  margin-bottom: 12px;
}

/* Text to use inside quote card (type 1 and 2)*/
.text-quote-card {
  margin-top: 12px;
  margin-bottom: 12px;

  font-family: var(--font-family-spline);
  font-size: var(--font-size-14px);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-subtitle);
}
