/*----------------------------------------*/
/* Colors */
/*----------------------------------------*/

/* Colors - Primary */
.color-primary-01 {
  color: var(--color-primary-01);
}

.color-primary-02 {
  color: var(--color-primary-02);
}

.color-primary-03 {
  color: var(--color-primary-03);
}

.color-primary-04 {
  color: var(--color-primary-04);
}

/* Colors - Secundary */
.color-secundary-01 {
  color: var(--color-secundary-01);
}

/* Colors - Neutral */
.color-neutral-10 {
  color: var(--color-neutral-10);
}

.color-neutral-30 {
  color: var(--color-neutral-30);
}

.color-neutral-100 {
  color: var(--color-neutral-100);
}
