/*----------------------------------------*/
/* Divisor and Spaces */
/*----------------------------------------*/

/* Divisor Content*/
.divisor {
  border-top: 1px solid var(--color-neutral-90);
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.divisor.divisor-header {
  position: fixed;
  margin-top: 71px;
}

.divisor.divisor-projects {
  margin-top: 20px;
}

/*----------------------------------------*/

/* Space Between Section */
.space-between-section-12px {
  margin: 12px;
}