/*----------------------------------------*/
/* Divisor and Spaces */
/*----------------------------------------*/

/* Divisor Content*/
.divisor {
  border-top: 1px solid var(--color-neutral-90);
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*----------------------------------------*/

/* Space Between Section */
.space-between-section-12px {
  margin: 12px;
}