/*----------------------------------------*/
/* IMAGES */
/*----------------------------------------*/
.mockup-project {
  max-width: auto;
  height: 200px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.illustration-in-progress {
  height: auto;
  width: 300px;
}

.image-illustration-process {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

.image-solution-process {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
}

.avatar {
  display: flex;
  justify-content: center;
}

#avatar-150x150{
  margin-top: 2px;
  margin-bottom: 24px;
}

#avatar-200x200 {
  margin-top: 14px;
  margin-bottom: 24px;
}


