/*----------------------------------------*/
/* IMAGES */
/*----------------------------------------*/
.mockup-project {
  max-width: auto;
  height: 200px;
  
  margin-top: 8px;
  margin-bottom: 16px;
}

.avatar {
  display: flex;
  justify-content: center;
}

#avatar-150x150{
  margin-top: 2px;
  margin-bottom: 24px;
}

#avatar-200x200 {
  margin-top: 14px;
  margin-bottom: 24px;
}


