/*----------------------------------------*/
/* Labels and Texts */
/*----------------------------------------*/

/*----------------------------------------*/
/* Text Logo */
/*----------------------------------------*/

/* Text use like a logo */ 
.text-logo {
  font-family: var(--font-family-spline);
  font-size: var(--font-size-18px);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-title);
  color: var(--color-primary-01);
}


/*----------------------------------------*/
/* Introduction Title */
/*----------------------------------------*/

/* Box to insert the title introduction */
.introduction-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 18px;
}

.introduction-title-box.contact {
  margin-top: 8px;
}

/* Introduction Title - Type 1 */
.introduction-title-01 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-24px);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-title);
  color: var(--color-neutral-30);
  margin: 0;
}

/* Introduction Title - Type 2 */
.introduction-title-02 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-24px);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-title);
  color: var(--color-primary-01);
  margin: 0;
}

/* Introduction Title - Type 3 */
.introduction-title-03 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-24px);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-title);
  color: var(--color-primary-01);
  margin: 0;
}

/* Introduction Title - Type 3 */
.introduction-title-04 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-32px);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-title);
  color: var(--color-primary-01);
  margin-bottom: 8px;
}


/*----------------------------------------*/
/* Introduction Subtitle */
/*----------------------------------------*/

/* Box to insert the subtitle introduction */
.introduction-subtitle-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 12px 42px 20px 42px;
}

/* Introduction Subitle - Type 1 */
.introduction-subtitle-01 {
  font-family: var(--font-family-spline);
  font-size: var(--font-size-16px);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-subtitle);
  color: var(--color-neutral-30);
}

/* Introduction Subitle - Type 2 */
.introduction-subtitle-02 {
  font-family: var(--font-family-spline);
  font-size: var(--font-size-18px);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-subtitle);
  color: var(--color-secundary-01);
  margin: 12px;
}




/*----------------------------------------*/
/* Section Title */
/*----------------------------------------*/

/* Box to insert the Section Title */
.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 16px 24px 12px 24px;
}

/* Icon to use inside the Section Title */ 
.icon-section-title {
  padding: 2px;
  margin: 2px;
  color: var(--color-primary-01);
}

/* Text to use inside the Section Title */ 
.text-section-title {
  padding: 2px;
  margin: 8px;
  font-family: var(--font-family-spline);
  font-size: var(--font-size-20px);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-title);
  color: var(--color-primary-01);
}




/*----------------------------------------*/
/* Section Subtitle */
/*----------------------------------------*/

/* Box to insert the Section Subitle */
.section-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 14px 24px 14px 24px;

  & img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 20px;
  }
}
 
/* Text to use inside the Section Subtitle */ 
.text-section-subtitle {
  margin: 2px;
  font-family: var(--font-family-spline);
  font-size: var(--font-size-18px);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-title);
  color: var(--color-secundary-01);
}


/*----------------------------------------*/
/* Text Alignment Box */
/*----------------------------------------*/

/* Left-aligned text */ 
.text-box-left {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 24px 0 24px;
}
/* Center-aligned text */ 
.text-box-center {
  display: flex;
  flex-direction: column;
  text-align: center;
  /*margin: 0 24px 0 24px;*/
}




/*----------------------------------------*/
/* Spline Text Font Type */
/*----------------------------------------*/
/* Text with Spline font type */ 

/* Spline Text - Type 1 */
.text-spline-01 {
  font-family: var(--font-family-spline);
  font-size: var(--font-size-16px);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-text-01);
  margin-bottom: var(--size-14px);
  color: var(--color-neutral-30);
}




/*----------------------------------------*/
/* Poppins Text Font Type */
/*----------------------------------------*/
/* Text with Poppins font type */ 

/* Poppins Text - Type 1 */
.text-poppins-01 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-16px);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-text-01);
  margin-bottom: var(--size-14px);
  color: var(--color-neutral-30);
}

/* Poppins Text - Type 2 */
.text-poppins-02 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-16px);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-text-02);
  margin-bottom: var(--size-14px);
  color: var(--color-neutral-30);
}
