/*----------------------------------------*/
/* Labels and Texts */
/*----------------------------------------*/



/*----------------------------------------*/
/* Titles and Texts */
/*----------------------------------------*/

/* Text Logo */
.text-logo {
  font-family: var(--font-family-spline);
  font-size: var(--font-size-18px);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-title);
  color: var(--color-primary-01);
}


/*----------------------------------------*/
/* Introduction Title */
.introduction-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 24px 0 24px;
}


.introduction-title-01 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-24px);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-title);
  color: var(--color-neutral-30);
  margin: 0;

}

.introduction-title-02 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-24px);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-title);
  color: var(--color-primary-01);
  margin: 0;

}

.introduction-title-03 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-24px);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-title);
  color: var(--color-primary-01);
  margin: 0;
}


/*----------------------------------------*/
/* Introduction Subtitle */
.introduction-subtitle-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 12px 42px 20px 42px;
}

.introduction-subtitle-01 {
  font-family: var(--font-family-spline);
  font-size: var(--font-size-16px);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-subtitle);
  color: var(--color-neutral-30);
}


/*----------------------------------------*/
/* Section Title */
.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 16px 24px 12px 24px;
}

.icon-section-title {
  padding: 2px;
  margin: 2px;
  color: var(--color-primary-01);
}

.text-section-title {
  padding: 2px;
  margin: 4px;
  font-family: var(--font-family-spline);
  font-size: var(--font-size-20px);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-title);
  color: var(--color-primary-01);
}


/*----------------------------------------*/
/* Section Subtitle */
.section-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 14px 24px 14px 24px;
}

.section-subtitle img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
  margin-bottom: 20px;
}

.text-section-subtitle {
  margin: 2px;
  font-family: var(--font-family-spline);
  font-size: var(--font-size-18px);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-title);
  color: var(--color-secundary-01);
}


/*----------------------------------------*/
/* Text Box Left */
.text-box-left {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 24px 0 24px;
}

/*----------------------------------------*/
/* Text Box Center */

.text-box-center {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 24px 0 24px;
}


/*----------------------------------------*/
/* Text Spline */
.text-spline-01 {
  font-family: var(--font-family-spline);
  font-size: var(--font-size-16px);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-text-01);
  margin-bottom: var(--size-14px);
  color: var(--color-neutral-30);
}


/*----------------------------------------*/
/* Text Poppins */
.text-poppins-01 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-16px);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-text-01);
  margin-bottom: var(--size-14px);
  color: var(--color-neutral-30);
}

.text-poppins-02 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-16px);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-text-02);
  margin-bottom: var(--size-14px);
  color: var(--color-neutral-30);
}
