.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: absolute;
  top: 72px;
  width: 100%;
  height: auto;

  background-color: var(--color-primary-01);
}

.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 42px 8px;
}

.container-menu-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-link {
  margin: 12px 12px;
  padding: 8px 8px;
  font-family: var(--font-family-spline);
  font-size: var(--font-size-14px);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-text-02);
  color: var(--color-neutral-100);
  text-decoration: var(--underline);
}

.menu-social-media {
  padding: 52px 20px;
}

