#menu-btn {
  cursor: pointer;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -390px;
  width: 300px;
  height: 100%;
  background-color: var(--color-secundary-01);
  z-index: 1000;
  transition: right 0.3s ease;
  padding: 20px;
  border-radius: 8px 0;

  transition: 
    rigth 0.4s ease-in-out,
    background-color 1s ease-in-out;
}

.side-menu.active {
  right: 0;
  background-color: var(--color-primary-01);
  transition-delay: 
    0s, 
    0.3s;
}
            
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-opacity-dark-20);
  backdrop-filter: blur(8px);
  display: none;
  z-index: 999;
}

.overlay.active {
  display: block;
}

#close-menu {
  cursor: pointer;
  float: right;
} 
#close-menu i {
  color: var(--color-neutral-100);
}






.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 8px;
}

.container-menu-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-link {
  margin: 12px 12px;
  padding: 8px 8px;
  font-family: var(--font-family-spline);
  font-size: var(--font-size-14px);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-text-02);
  color: var(--color-neutral-100);
  text-decoration: var(--underline);
}

.menu-social-media {
  padding: 52px 20px;
}
















/*
.menu-container {
  display: flex;

  flex-direction: column;
  justify-content: flex-end;  

  position: absolute;
  top: 72px;
  width: 100%;
  height: auto;
  background-color: var(--color-secundary-01);
  transition: all 1s ease;
}

.menu-container.transition {
  width: 100%;
  height: auto;
  background-color: var(--color-primary-01);
  transition: all 1s ease;
}

.menu-container.close-menu {
  display: none;
}





.icon-menu {
  color: var(--color-primary-01);
}

.menu-btn:hover {
  background-color: var(--color-secundary-01);
  color: var(--color-neutral-100)
}
/*.icon-menu:hover {
  color: var(--color-neutral-100);
}*/
/*
.menu-btn:focus {
  background-color: var(--color-primary-01);
}

.closeBtn {
  display: none;
}*/
